html {
    min-height: 200%;
}

body {
  background-image: linear-gradient(#B8D956, #378221,#008000);
}

#pagina-login {
  position: absolute;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);
}

.formulario-login {
    position: center;
    background-color:  #9ACD32	;
    padding: 20px;
}